body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 125%;

  margin: 0px;
  margin-top: 2em;
  margin-bottom: 2em;
}

button {
  background-color: #89cff0;
  border-radius: 4px;
  border: 3px solid transparent;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  border: 3px solid #80c0f0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  margin-left: 1em;
}

table {
  margin-top: 1em;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
}

th {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #dddddd;
}

tr.incorrect-prediction {
  background-color: #ff4040;
  color: white;
}

tr.incorrect-prediction:hover {
  background-color: #ff1010;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 720px;
}
